<!-- title -->Alignment<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- content -->
<p>
Drawing text in Inferno is fairly easy once you are reminded about the way the
<tt>Draw</tt> module does things.
</p>

<h2>Drawing aligned text</h2>

<p>
The code for the Limbo module
(<a href="code/2021-12-18a-alignment/aligned.b">aligned.b</a>) develops the
<a href="2021-12-18.html">previous version</a>. However, it's a bit more
complicated than it really needs to be. As a result, it helps to split it up a
bit.
</p>

<p>
The file starts like the previous ones, with the usual includes, global
variable declarations and the module interface definition.
</p>

<div class="highlight"><pre><span></span><span class="k">implement</span> <span class="n">Test</span><span class="p">;</span>

<span class="k">include</span> <span class="s">&quot;sys.m&quot;</span><span class="p">;</span>
<span class="k">include</span> <span class="s">&quot;draw.m&quot;</span><span class="p">;</span>
<span class="n">Context</span><span class="p">,</span> <span class="n">Display</span><span class="p">,</span> <span class="n">Font</span><span class="p">,</span> <span class="n">Image</span><span class="p">,</span> <span class="n">Point</span><span class="p">,</span> <span class="n">Rect</span><span class="o">:</span> <span class="k">import</span> <span class="n">draw</span><span class="p">;</span>

<span class="n">draw</span><span class="o">:</span> <span class="n">Draw</span><span class="p">;</span>
<span class="n">display</span><span class="o">:</span> <span class="kt">ref</span> <span class="n">Display</span><span class="p">;</span>
<span class="n">font</span><span class="o">:</span> <span class="kt">ref</span> <span class="n">Font</span><span class="p">;</span>

<span class="n">Test</span><span class="o">:</span> <span class="kt">module</span>
<span class="p">{</span>
    <span class="n">init</span><span class="o">:</span> <span class="kt">fn</span><span class="p">(</span><span class="kc">nil</span><span class="o">:</span> <span class="kt">ref</span> <span class="n">Context</span><span class="p">,</span> <span class="kc">nil</span><span class="o">:</span> <span class="kt">list</span> <span class="kt">of</span> <span class="kt">string</span><span class="p">);</span>
<span class="p">};</span>
</pre></div>

<p>
It seems like a good idea to create an abstract data type (ADT) to encapsulate
the properties and functions of a label. This will allow the properties of each
label to be defined once and stored in one place, then the label can be drawn
by calling its <tt>draw</tt> function.
</p>

<div class="highlight"><pre><span class="n">Label</span><span class="o">:</span> <span class="kt">adt</span>
<span class="p">{</span>
    <span class="n">left</span><span class="p">,</span> <span class="n">centre</span><span class="p">,</span> <span class="n">right</span><span class="o">:</span> <span class="kc">con</span> <span class="kc">iota</span><span class="p">;</span>

    <span class="n">text</span><span class="o">:</span> <span class="kt">string</span><span class="p">;</span>
    <span class="n">font</span><span class="o">:</span> <span class="kt">ref</span> <span class="n">Font</span><span class="p">;</span>
    <span class="n">alignment</span><span class="o">:</span> <span class="kt">int</span><span class="p">;</span>

    <span class="n">draw</span><span class="o">:</span> <span class="kt">fn</span><span class="p">(</span><span class="n">label</span><span class="o">:</span> <span class="kt">self</span> <span class="kt">ref</span> <span class="n">Label</span><span class="p">,</span> <span class="n">rect</span><span class="o">:</span> <span class="n">Rect</span><span class="p">);</span>
<span class="p">};</span>
</pre></div>

<p>
It's not necessary to go into the finer points of ADTs but it's worth noting
that the <tt>self</tt> keyword in the definition of the <tt>draw</tt> function
allows the function to be used as a method, just like in the Python language
except that <tt>self</tt> is not used to refer to the instance.
</p>

<p>
The <tt>draw</tt> method is defined using its fully-qualified name,
<tt>Label.draw</tt>. The instance being acted on, <tt>label</tt>, is passed as
the first parameter.
</p>

<div class="highlight"><pre><span class="n">Label</span><span class="p">.</span><span class="n">draw</span><span class="p">(</span><span class="n">label</span><span class="o">:</span> <span class="kt">self</span> <span class="kt">ref</span> <span class="n">Label</span><span class="p">,</span> <span class="n">rect</span><span class="o">:</span> <span class="n">Rect</span><span class="p">)</span>
<span class="p">{</span>
    <span class="n">x</span><span class="o">:</span> <span class="kt">int</span><span class="p">;</span>

    <span class="k">case</span> <span class="n">label</span><span class="p">.</span><span class="n">alignment</span> <span class="p">{</span>
    <span class="n">Label</span><span class="p">.</span><span class="n">left</span> <span class="o">=&gt;</span>
        <span class="n">x</span> <span class="o">=</span> <span class="n">rect</span><span class="p">.</span><span class="n">min</span><span class="p">.</span><span class="n">x</span><span class="p">;</span>
    <span class="n">Label</span><span class="p">.</span><span class="n">centre</span> <span class="o">=&gt;</span>
        <span class="n">width</span> <span class="o">:=</span> <span class="n">label</span><span class="p">.</span><span class="n">font</span><span class="p">.</span><span class="n">width</span><span class="p">(</span><span class="n">label</span><span class="p">.</span><span class="n">text</span><span class="p">);</span>
        <span class="n">x</span> <span class="o">=</span> <span class="n">rect</span><span class="p">.</span><span class="n">min</span><span class="p">.</span><span class="n">x</span> <span class="o">+</span> <span class="p">(</span><span class="n">rect</span><span class="p">.</span><span class="n">dx</span><span class="p">()</span> <span class="o">-</span> <span class="n">width</span><span class="p">)</span> <span class="o">/</span> <span class="mi">2</span><span class="p">;</span>
    <span class="n">Label</span><span class="p">.</span><span class="n">right</span> <span class="o">=&gt;</span>
        <span class="n">width</span> <span class="o">:=</span> <span class="n">label</span><span class="p">.</span><span class="n">font</span><span class="p">.</span><span class="n">width</span><span class="p">(</span><span class="n">label</span><span class="p">.</span><span class="n">text</span><span class="p">);</span>
        <span class="n">x</span> <span class="o">=</span> <span class="n">rect</span><span class="p">.</span><span class="n">max</span><span class="p">.</span><span class="n">x</span> <span class="o">-</span> <span class="n">width</span><span class="p">;</span>
    <span class="o">*</span> <span class="o">=&gt;</span>
        <span class="n">x</span> <span class="o">=</span> <span class="n">rect</span><span class="p">.</span><span class="n">min</span><span class="p">.</span><span class="n">x</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="n">display</span><span class="p">.</span><span class="n">image</span><span class="p">.</span><span class="n">text</span><span class="p">((</span><span class="n">x</span><span class="p">,</span> <span class="n">rect</span><span class="p">.</span><span class="n">min</span><span class="p">.</span><span class="n">y</span><span class="p">),</span> <span class="n">display</span><span class="p">.</span><span class="n">white</span><span class="p">,</span> <span class="p">(</span><span class="mi">0</span><span class="p">,</span><span class="mi">0</span><span class="p">),</span> <span class="n">label</span><span class="p">.</span><span class="n">font</span><span class="p">,</span>
                       <span class="n">label</span><span class="p">.</span><span class="n">text</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>

<p>
The <tt>case</tt> structure ensures that the position of the text is calculated
according to the label's <tt>alignment</tt> property. Drawing the text is then
a simple matter of calling the <tt>text</tt> method on the display's image,
exposed by its <tt>image</tt> property.
</p>

<p>
Much of the <tt>init</tt> function is the same as for previous examples. The
main difference being that the text is placed in <tt>Label</tt> instances with
font and alignment information. The <tt>draw</tt> method of each label is
called with a <tt>Rect</tt> value to draw it within a given rectangular area on
the screen.
</p>

<div class="highlight"><pre><span class="n">init</span><span class="p">(</span><span class="n">context</span><span class="o">:</span> <span class="kt">ref</span> <span class="n">Context</span><span class="p">,</span> <span class="kc">nil</span><span class="o">:</span> <span class="kt">list</span> <span class="kt">of</span> <span class="kt">string</span><span class="p">)</span>
<span class="p">{</span>
    <span class="n">draw</span> <span class="o">=</span> <span class="k">load</span> <span class="n">Draw</span> <span class="n">Draw</span><span class="o">-&gt;</span><span class="n">PATH</span><span class="p">;</span>
    <span class="n">display</span> <span class="o">=</span> <span class="n">Display</span><span class="p">.</span><span class="n">allocate</span><span class="p">(</span><span class="kc">nil</span><span class="p">);</span>
    <span class="n">font</span> <span class="o">=</span> <span class="n">Font</span><span class="p">.</span><span class="n">open</span><span class="p">(</span><span class="n">display</span><span class="p">,</span> <span class="s">&quot;*default*&quot;</span><span class="p">);</span>

    <span class="c1"># Draw the background, filling the entire screen.</span>
    <span class="n">display</span><span class="p">.</span><span class="n">image</span><span class="p">.</span><span class="n">draw</span><span class="p">(</span><span class="n">Rect</span><span class="p">(</span><span class="n">Point</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span><span class="mi">0</span><span class="p">),</span> <span class="n">Point</span><span class="p">(</span><span class="mi">320</span><span class="p">,</span><span class="mi">240</span><span class="p">)),</span> <span class="n">display</span><span class="p">.</span><span class="n">rgb</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span><span class="mi">0</span><span class="p">,</span><span class="mi">64</span><span class="p">),</span>
                       <span class="kc">nil</span><span class="p">,</span> <span class="p">(</span><span class="mi">0</span><span class="p">,</span><span class="mi">0</span><span class="p">));</span>

    <span class="c1"># Create labels to show the text with different alignments.</span>
    <span class="n">left_label</span> <span class="o">:=</span> <span class="kt">ref</span> <span class="n">Label</span><span class="p">(</span><span class="s">&quot;Left&quot;</span><span class="p">,</span> <span class="n">font</span><span class="p">,</span> <span class="n">Label</span><span class="p">.</span><span class="n">left</span><span class="p">);</span>
    <span class="n">centre_label</span> <span class="o">:=</span> <span class="kt">ref</span> <span class="n">Label</span><span class="p">(</span><span class="s">&quot;Centre&quot;</span><span class="p">,</span> <span class="n">font</span><span class="p">,</span> <span class="n">Label</span><span class="p">.</span><span class="n">centre</span><span class="p">);</span>
    <span class="n">right_label</span> <span class="o">:=</span> <span class="kt">ref</span> <span class="n">Label</span><span class="p">(</span><span class="s">&quot;Right&quot;</span><span class="p">,</span> <span class="n">font</span><span class="p">,</span> <span class="n">Label</span><span class="p">.</span><span class="n">right</span><span class="p">);</span>

    <span class="c1"># Draw the labels.</span>
    <span class="n">left_label</span><span class="p">.</span><span class="n">draw</span><span class="p">(</span><span class="n">Rect</span><span class="p">((</span><span class="mi">2</span><span class="p">,</span><span class="mi">50</span><span class="p">),</span> <span class="p">(</span><span class="mi">318</span><span class="p">,</span><span class="mi">90</span><span class="p">)));</span>
    <span class="n">centre_label</span><span class="p">.</span><span class="n">draw</span><span class="p">(</span><span class="n">Rect</span><span class="p">((</span><span class="mi">2</span><span class="p">,</span><span class="mi">100</span><span class="p">),</span> <span class="p">(</span><span class="mi">318</span><span class="p">,</span><span class="mi">140</span><span class="p">)));</span>
    <span class="n">right_label</span><span class="p">.</span><span class="n">draw</span><span class="p">(</span><span class="n">Rect</span><span class="p">((</span><span class="mi">2</span><span class="p">,</span><span class="mi">150</span><span class="p">),</span> <span class="p">(</span><span class="mi">318</span><span class="p">,</span><span class="mi">190</span><span class="p">)));</span>
<span class="p">}</span>
</pre></div>

<p>
Each <tt>Rect</tt> is defined using the top-left and bottom-right points. Here,
a form of shorthand is used to avoid explicitly using <tt>Point</tt> to specify
these. You can pass tuples with the appropriate contents instead of an ADT as
arguments and Limbo will do the right thing.
</p>

<p>
The result of running the code in a 320&times;240 sized window is shown below.
</p>

<div class="centre"><img class="dark" src="images/2021-12-18-aligned-text.png" /><br/>
<span class="caption">Different text alignments</span></div>

<p>
The <tt>Label</tt> type needs to be polished a bit. That can be done as I try
to build something more complicated.
</p>

<!-- /content -->

<!-- name -->David Boddie<!-- /name -->
<!-- date -->18 December 2021<!-- /date -->
