<!-- title -->Starting an Inferno Diary<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- content -->
<p>
Since I have been looking at <a href="https://www.vitanuova.com/inferno/">Inferno</a>
again, I thought that maybe I should try and write something regularly about
what I do with it, assuming that I do something regularly with it. There have
been times over the last few years when I spend time looking at other things,
so perhaps the idea of writing something will encourage me to return to Inferno
more regularly.
</p>

<p>
This diary is inspired by
<a href="http://ipn.caerwyn.com/2004/08/inferno-lab.html">inferno programmer's
notebook</a> which contains lots of useful tips. However, individual entries
in this diary might not have a focus, or might just describe something I was
doing without any conclusion.
</p>
<!-- /content -->

<!-- name -->David Boddie<!-- /name -->
<!-- date -->14 December 2021<!-- /date -->
