<!-- title -->Text<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- content -->
<p>
With the idea of creating a simple user interface for a handheld device, using
only the features of the <tt>Draw</tt> module, I thought I'd look closer at
what kind of drawing is involved.
</p>

<p>
The user interface will probably be a collection of screens, each with a title
at the top and either a menu or some information, which could be a calendar or
a text box for data entry. The device is keyboard-driven, so keyboard shortcuts
will be used to perform actions, and cursor keys will be used to navigate
between user interface elements.
</p>

<p>
With that said, handling text is going to be central, so let's look at how to
draw it.
</p>

<h2>Drawing some text</h2>

<p>
The code for the Limbo module (<a href="code/2021-12-18-text/text.b">text.b</a>)
is similar to that in the <a href="2021-12-17.html">previous entry</a> except
that only one rectangle is drawn, filling the screen with a dark blue colour.
</p>

<div class="highlight"><pre><span></span><span class="k">implement</span> <span class="n">Test</span><span class="p">;</span>

<span class="k">include</span> <span class="s">&quot;sys.m&quot;</span><span class="p">;</span>
<span class="k">include</span> <span class="s">&quot;draw.m&quot;</span><span class="p">;</span>
<span class="n">Context</span><span class="p">,</span> <span class="n">Display</span><span class="p">,</span> <span class="n">Font</span><span class="p">,</span> <span class="n">Image</span><span class="p">,</span> <span class="n">Point</span><span class="p">,</span> <span class="n">Rect</span><span class="o">:</span> <span class="k">import</span> <span class="n">draw</span><span class="p">;</span>

<span class="n">draw</span><span class="o">:</span> <span class="n">Draw</span><span class="p">;</span>
<span class="n">display</span><span class="o">:</span> <span class="kt">ref</span> <span class="n">Display</span><span class="p">;</span>
<span class="n">font</span><span class="o">:</span> <span class="kt">ref</span> <span class="n">Font</span><span class="p">;</span>

<span class="n">Test</span><span class="o">:</span> <span class="kt">module</span>
<span class="p">{</span>
    <span class="n">init</span><span class="o">:</span> <span class="kt">fn</span><span class="p">(</span><span class="kc">nil</span><span class="o">:</span> <span class="kt">ref</span> <span class="n">Context</span><span class="p">,</span> <span class="kc">nil</span><span class="o">:</span> <span class="kt">list</span> <span class="kt">of</span> <span class="kt">string</span><span class="p">);</span>
<span class="p">};</span>

<span class="n">init</span><span class="p">(</span><span class="n">context</span><span class="o">:</span> <span class="kt">ref</span> <span class="n">Context</span><span class="p">,</span> <span class="kc">nil</span><span class="o">:</span> <span class="kt">list</span> <span class="kt">of</span> <span class="kt">string</span><span class="p">)</span>
<span class="p">{</span>
    <span class="n">draw</span> <span class="o">=</span> <span class="k">load</span> <span class="n">Draw</span> <span class="n">Draw</span><span class="o">-&gt;</span><span class="n">PATH</span><span class="p">;</span>
    <span class="n">display</span> <span class="o">=</span> <span class="n">Display</span><span class="p">.</span><span class="n">allocate</span><span class="p">(</span><span class="kc">nil</span><span class="p">);</span>
    <span class="n">font</span> <span class="o">=</span> <span class="n">Font</span><span class="p">.</span><span class="n">open</span><span class="p">(</span><span class="n">display</span><span class="p">,</span> <span class="s">&quot;*default*&quot;</span><span class="p">);</span>

    <span class="c1"># Draw the background, filling the entire screen.</span>
    <span class="n">display</span><span class="p">.</span><span class="n">image</span><span class="p">.</span><span class="n">draw</span><span class="p">(</span><span class="n">Rect</span><span class="p">(</span><span class="n">Point</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span><span class="mi">0</span><span class="p">),</span> <span class="n">Point</span><span class="p">(</span><span class="mi">320</span><span class="p">,</span><span class="mi">240</span><span class="p">)),</span> <span class="n">display</span><span class="p">.</span><span class="n">rgb</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span><span class="mi">0</span><span class="p">,</span><span class="mi">64</span><span class="p">),</span>
                       <span class="kc">nil</span><span class="p">,</span> <span class="p">(</span><span class="mi">0</span><span class="p">,</span><span class="mi">0</span><span class="p">));</span>
    <span class="c1"># Draw the title text.</span>
    <span class="n">display</span><span class="p">.</span><span class="n">image</span><span class="p">.</span><span class="n">text</span><span class="p">(</span><span class="n">Point</span><span class="p">(</span><span class="mi">2</span><span class="p">,</span> <span class="mi">2</span><span class="p">),</span> <span class="n">display</span><span class="p">.</span><span class="n">white</span><span class="p">,</span> <span class="p">(</span><span class="mi">0</span><span class="p">,</span><span class="mi">0</span><span class="p">),</span> <span class="n">font</span><span class="p">,</span> <span class="s">&quot;Hello world!&quot;</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>

<p>
A <tt>Font</tt> instance is loaded into a global variable. Technically, it's a
reference to a <tt>Font</tt>, which is why it's declared as <tt>ref Font</tt>.
Since the return type of the <tt>Font.open</tt> function is <tt>ref Font</tt>
we just use that everywhere a font type is needed.
</p>

<p>
Colours are specified by <tt>display.rgb(0,0,64)</tt> and <tt>display.white</tt>.
The first of these is a function call with <tt>ref Image</tt> return type.
The second is a <tt>ref Image</tt> property of the display. The drawing API
uses images in places where colours are used. This can take some getting used
to.
</p>

<p>
The result of running the code in a 320&times;240 sized window is shown below.
</p>

<div class="centre"><img class="dark" src="images/2021-12-18-draw-text.png" /><br/>
<span class="caption">Some white text on a dark blue background</span></div>

<p>
This will hopefully be something to build upon. There will need to be some
control over where text is placed, including measurement of the visual size of
text strings, so that text can be centred and aligned as needed.
</p>

<!-- /content -->

<!-- name -->David Boddie<!-- /name -->
<!-- date -->18 December 2021<!-- /date -->
