<!-- title -->Calendar<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- content -->
<p>
I'm looking to use an old handheld computer as an organiser for managing
contacts and appointments. While looking at Inferno applications, I found the
<tt>wm/calendar</tt> application that I had seen before. This time, when I ran
it, I noticed that it complained about a missing schedule:
</p>
<pre>
cal: cannot load schedule: no dbfs mounted on /mnt/schedule
</pre>
<p>
This shouldn't have been a surprise.
The <a href="https://www.vitanuova.com/inferno/man/1/calendar.html">manual page
for the application</a> says that it is a simple calendar and diary program,
and tells you how to run it with a schedule.
</p>
<pre>
rawdbfs $home/cal /mnt/schedule
wm/calendar
</pre>
<p>
You can create a new database to
hold the schedule if you pass the <tt>-e</tt> option the first time you run
<tt>rawdbfs</tt>&nbsp;&mdash;&nbsp;or just create a blank file beforehand.
</p>

<div class="centre"><a href="images/2021-12-15-wm-cal.png">
<img class="light" src="images/thumb-2021-12-15-wm-cal.png" />
</a><br/>
<span class="caption">Creating new schedule items</span></div>

<p>
With the database filing system mounted, you can look at the entries under
<tt>/mnt/schedule</tt> using normal text processing tools:
</p>
<pre>
% rawdbfs $home/cal /mnt/schedule
% ls /mnt/schedule
/mnt/schedule/1
/mnt/schedule/2
/mnt/schedule/new
% cat /mnt/schedule/2
20211214 257
Started writing a diary.% 
</pre>

<p>
Maybe this could be used for the purpose I had in mind for the handheld. I'm a
bit skeptical because the user interface is slightly too large for the
320&times;240 sized screen, though it could be made to fit. The main problem
is with the lack of keyboard navigation support in the widgets
used and the device doesn't have a touchscreen. I don't see an
easy way around that problem.
</p>

<div class="centre"><img class="light" src="images/2021-12-15-wm-cal-small.png" /><br/>
<span class="caption">It fits... but isn't much use if a keyboard is all you have</span></div>

<p>
I already considered that I might want to experiment with drawing directly on
the display, and that only requires the <tt>draw</tt> module, so that's what
I'll do next.
</p>

<!-- /content -->

<!-- name -->David Boddie<!-- /name -->
<!-- date -->15 December 2021<!-- /date -->
