<!-- title -->Drawing<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- content -->
<p>
Previously, I decided to try and draw directly onto the display instead of
<a href="2021-12-15a.html">using the existing calendar application</a>.
Drawing on the display is fairly easy in Inferno, and is something I like to do
in many of my init scripts so that I can check that I am using the correct
pixel formats.
</p>

<h2>A Limbo program</h2>

<p>
A version of the code I use is shown below. It draws four horizontal stripes
at the top-left of the screen: three for the primary colours and one for white,
using gradients starting from black and increasing in brightness until the full
intensity of each colour is shown. The first half of the code includes
definitions from module files and defines the <tt>Test</tt> module that the
program implements.
</p>

<div class="highlight"><pre><span></span><span class="k">implement</span> <span class="n">Test</span><span class="p">;</span>

<span class="k">include</span> <span class="s">&quot;sys.m&quot;</span><span class="p">;</span>
<span class="k">include</span> <span class="s">&quot;draw.m&quot;</span><span class="p">;</span>
<span class="n">Context</span><span class="p">,</span> <span class="n">Display</span><span class="p">,</span> <span class="n">Image</span><span class="p">,</span> <span class="n">Point</span><span class="p">,</span> <span class="n">Rect</span><span class="o">:</span> <span class="k">import</span> <span class="n">draw</span><span class="p">;</span>

<span class="n">draw</span><span class="o">:</span> <span class="n">Draw</span><span class="p">;</span>

<span class="n">Test</span><span class="o">:</span> <span class="kt">module</span>
<span class="p">{</span>
    <span class="n">init</span><span class="o">:</span> <span class="kt">fn</span><span class="p">(</span><span class="kc">nil</span><span class="o">:</span> <span class="kt">ref</span> <span class="n">Context</span><span class="p">,</span> <span class="kc">nil</span><span class="o">:</span> <span class="kt">list</span> <span class="kt">of</span> <span class="kt">string</span><span class="p">);</span>
<span class="p">};</span>

<span class="n">init</span><span class="p">(</span><span class="n">context</span><span class="o">:</span> <span class="kt">ref</span> <span class="n">Context</span><span class="p">,</span> <span class="kc">nil</span><span class="o">:</span> <span class="kt">list</span> <span class="kt">of</span> <span class="kt">string</span><span class="p">)</span>
<span class="p">{</span>
    <span class="c1"># Use the Draw module to draw on the screen.</span>
    <span class="n">draw</span> <span class="o">=</span> <span class="k">load</span> <span class="n">Draw</span> <span class="n">Draw</span><span class="o">-&gt;</span><span class="n">PATH</span><span class="p">;</span>
    <span class="n">display</span> <span class="o">:=</span> <span class="n">Display</span><span class="p">.</span><span class="n">allocate</span><span class="p">(</span><span class="kc">nil</span><span class="p">);</span>
    <span class="n">for</span> <span class="p">(</span><span class="n">b</span> <span class="o">:=</span> <span class="mi">0</span><span class="p">;</span> <span class="n">b</span> <span class="o">&lt;</span> <span class="mi">256</span><span class="p">;</span> <span class="n">b</span><span class="o">++</span><span class="p">)</span> <span class="p">{</span>
        <span class="n">display</span><span class="p">.</span><span class="n">image</span><span class="p">.</span><span class="n">draw</span><span class="p">(</span><span class="n">Rect</span><span class="p">(</span><span class="n">Point</span><span class="p">(</span><span class="n">b</span><span class="p">,</span> <span class="mi">0</span><span class="p">),</span> <span class="n">Point</span><span class="p">(</span><span class="n">b</span> <span class="o">+</span> <span class="mi">1</span><span class="p">,</span> <span class="mi">4</span><span class="p">)),</span> <span class="n">display</span><span class="p">.</span><span class="n">rgb</span><span class="p">(</span><span class="n">b</span><span class="p">,</span> <span class="mi">0</span><span class="p">,</span> <span class="mi">0</span><span class="p">),</span> <span class="n">display</span><span class="p">.</span><span class="n">opaque</span><span class="p">,</span> <span class="n">Point</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span> <span class="mi">0</span><span class="p">));</span>
        <span class="n">display</span><span class="p">.</span><span class="n">image</span><span class="p">.</span><span class="n">draw</span><span class="p">(</span><span class="n">Rect</span><span class="p">(</span><span class="n">Point</span><span class="p">(</span><span class="n">b</span><span class="p">,</span> <span class="mi">4</span><span class="p">),</span> <span class="n">Point</span><span class="p">(</span><span class="n">b</span> <span class="o">+</span> <span class="mi">1</span><span class="p">,</span> <span class="mi">8</span><span class="p">)),</span> <span class="n">display</span><span class="p">.</span><span class="n">rgb</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span> <span class="n">b</span><span class="p">,</span> <span class="mi">0</span><span class="p">),</span> <span class="n">display</span><span class="p">.</span><span class="n">opaque</span><span class="p">,</span> <span class="n">Point</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span> <span class="mi">0</span><span class="p">));</span>
        <span class="n">display</span><span class="p">.</span><span class="n">image</span><span class="p">.</span><span class="n">draw</span><span class="p">(</span><span class="n">Rect</span><span class="p">(</span><span class="n">Point</span><span class="p">(</span><span class="n">b</span><span class="p">,</span> <span class="mi">8</span><span class="p">),</span> <span class="n">Point</span><span class="p">(</span><span class="n">b</span> <span class="o">+</span> <span class="mi">1</span><span class="p">,</span> <span class="mi">12</span><span class="p">)),</span> <span class="n">display</span><span class="p">.</span><span class="n">rgb</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span> <span class="mi">0</span><span class="p">,</span> <span class="n">b</span><span class="p">),</span> <span class="n">display</span><span class="p">.</span><span class="n">opaque</span><span class="p">,</span> <span class="n">Point</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span> <span class="mi">0</span><span class="p">));</span>
        <span class="n">display</span><span class="p">.</span><span class="n">image</span><span class="p">.</span><span class="n">draw</span><span class="p">(</span><span class="n">Rect</span><span class="p">(</span><span class="n">Point</span><span class="p">(</span><span class="n">b</span><span class="p">,</span> <span class="mi">12</span><span class="p">),</span> <span class="n">Point</span><span class="p">(</span><span class="n">b</span> <span class="o">+</span> <span class="mi">1</span><span class="p">,</span> <span class="mi">16</span><span class="p">)),</span> <span class="n">display</span><span class="p">.</span><span class="n">rgb</span><span class="p">(</span><span class="n">b</span><span class="p">,</span> <span class="n">b</span><span class="p">,</span> <span class="n">b</span><span class="p">),</span> <span class="n">display</span><span class="p">.</span><span class="n">opaque</span><span class="p">,</span> <span class="n">Point</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span> <span class="mi">0</span><span class="p">));</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>

<p>
In the <tt>init</tt> function, an instance of the <tt>Draw</tt> module is
loaded and assigned to the global <tt>draw</tt> variable, which is then used to
allocate a display. The display allows access to the image that represents its
framebuffer, so we can draw the rectangles that make up the gradient.
</p>

<h2>Running the code</h2>

<p>
If you want to run the code (<a href="code/2021-12-17-drawing/test.b">test.b</a>)
in the emulator, you will need to run the emulator with the <tt>-g</tt> option,
like this:
</p>

<pre>
emu -g 320x240
</pre>

<p>
In the emulator, find the directory where you placed the <tt>test.b</tt> file
and compile it before running it:
</p>

<pre>
limbo test.b
./test
</pre>

<p>
This causes a 320&times;240 sized window to open that should show something
like the image below.
</p>

<div class="centre"><img class="dark" src="images/2021-12-17-draw-gradient.png" /><br/>
<span class="caption">Drawing a gradient at the top-left of the display</span></div>

<p>
Normally, when running <tt>emu</tt>, having to choose the size of the window is
inconvenient, especially if you decide you need more space to do things. In
this case it's helpful that the window size is chosen in advance because it
lets me prototype the user interface for a small-screen device.
</p>
<!-- /content -->

<!-- name -->David Boddie<!-- /name -->
<!-- date -->17 December 2021<!-- /date -->
