<!-- title -->Prototyping Widgets<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- content -->
<p>
I implemented keyboard handling in the module implementing user interface
widgets so that it can be shared between all the different widget
implementations. It also spares the developer from having to manage how the
keyboard is read and figure out which widgets need to receive key codes.
This meant having to implement a simple event system.
</p>

<p>
The <tt>LineEdit</tt> widget is the first widget to support keyboard input,
implementing a <tt>key</tt> method that is called when a key code is delivered
to it. Widgets are held by <tt>Panel</tt> objects that normally send key codes
to the widgets inside them, but they can also intercept them. In one test
program, the two panels intercept key codes and switch between each other when
the <em>Tab</em> key is pressed.
</p>

<div class="centre"><img class="dark" src="images/2021-12-28-twopanels1.png" />&nbsp;<img class="dark" src="images/2021-12-28-twopanels2.png" /><br/>
<span class="caption">Switching between panels</span></div>

<p>
What started the investigation into keyboard input handling was an attempt to
draw more complex widgets, starting with a calendar widget. This only draws a
simple array of cells for each of the days in a month. Once that was done, the
next step was obviously to allow different days to be selected.
</p>

<div class="centre"><img class="dark" src="images/2021-12-28-calendar.png" /><br/>
<span class="caption">A basic calendar widget</span></div>

<p>
With a framework in place to handle key codes, and having split out the
<tt>CalendarWidget</tt> into its own module, it seems like it might also be
useful to move <tt>LineEdit</tt> into a separate module and implement a simple
text editor widget. The <tt>TextEdit</tt> widget is a bit more complicated than
<tt>LineEdit</tt> because it needs to be able to handle multi-line text.
</p>

<div class="centre"><img class="dark" src="images/2021-12-28-textedit.png" /><br/>
<span class="caption">A very simple text editor</span></div>

<p>
Moving widgets out of a common module proved to be awkward because the main
<tt>Panels</tt> module contains variables for the display and default font that
need to be initialised. Each &ldquo;child&rdquo; module uses these variables,
so it needs to have a reference to the same <tt>Panels</tt> module
object&nbsp;&mdash;&nbsp;it can't load a new one and use that instead. If you
arrive at Limbo from Python you tend to assume that all module references will
refer to a single module instance, which is not the case.
</p>

<p>
Another change accompanied the creation of new modules for different widget
types. It seemed reasonable to keep specific implementations of <tt>draw</tt>
and <tt>key</tt> methods in those modules. Since there was already support for
key handling callbacks for <tt>Panel</tt> objects, I created a drawing function
and a key handling function (when relevant) for each widget and made the
constructor functions set them up for each new widget instance.
</p>

<p>
The widgets also seem to work fairly well on the target device, apart from some
minor colour representation issues and a problem with cursor key handling that
I hope to figure out.
</p>

<!-- /content -->

<!-- name -->David Boddie<!-- /name -->
<!-- date -->28 December 2021<!-- /date -->
