<!-- title -->Empty Directories<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- content -->
<p>
I tend to create a lot of clones of the
<a href="https://bitbucket.org/inferno-os/inferno-os">Inferno repository</a>
when experimenting with Inferno. Some of these are related to tests I was doing
when I was trying to write a set of scripts to build an installation disk image
for PCs. Others are related to native ports, such as the
<a href="https://github.com/yshurik/inferno-rpi">Raspberry Pi port</a>, ones
I've attempted, or those other people did some time ago. (An incomplete list of
ports can be found
<a href="https://gitlab.com/dboddie/inferno-os/-/wikis/Inferno#ports">here</a>.)
</p>

<p>
When I build Inferno for some use, I go through the usual steps of configuring,
building <tt>mk</tt> then running <tt>mk install</tt>, typically in the
repository itself. Running <tt>emu</tt> works fine, and <tt>wm/wm</tt> also
starts up in the hosted environment, though there are always warnings in the
log. These usually mention a missing <tt>/usr/david/lib/plumbing</tt> file
(since my user is called <tt>david</tt>) and more warnings appear when some
applications are started. It helps to copy the existing
<tt>/usr/inferno/lib/plumbing</tt> file into the corresponding place in my home
directory, but Acme can't run the Limbo compiler on source files.
</p>

<div class="centre"><a href="images/2021-12-15-mnt-acme.png">
<img src="images/thumb-2021-12-15-mnt-acme.png" />
</a><br/>
<span class="caption">Can't mount /mnt/acme</span></div>
<p>
The trick to solving this appears to be to run <tt>mk</tt> in the host
environment with the correct rule for the shell you are using. So, on Linux,
running <tt>mk&nbsp;mkdirs-sh</tt> seems to create all the missing directories.
</p>

<p>
<b>Update:</b> Running <tt>mk&nbsp;mkdirs</tt> should generally work on any
supported platform.
</p>

<!-- /content -->

<!-- name -->David Boddie<!-- /name -->
<!-- date -->15 December 2021<!-- /date -->
