<!-- title -->Data Formats<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- content -->
<p>
The <a href="2022-01-13.html">appointments</a> data needs to be stored in a
file or file system. Previously, I <a href="2021-12-15a.html">looked at the
calendar</a> application and its use of the
<a href="https://www.vitanuova.com/inferno/man/4/dbfs.html">rawdbfs file
system</a>. However, I wasn't sure I would be able to access the data in an
optimal way, so I started writing my own data structures with the idea that
their data could be serialised to a simple format.
</p>

<p>
Initially, I thought I'd just create my own simple, line-based, plain text
format, but it started to be a real effort. Limbo provides some conveniences
for string handling and manipulation but I really missed Python's built-in
string methods. I started to look at alternatives in the
<a href="https://www.vitanuova.com/inferno/man/subjects.html#format">standard
modules</a>.
</p>

<p>
<a href="https://www.vitanuova.com/inferno/man/2/json.html">JSON support</a>
looked like it might be useful. However, I wasn't looking forward to picking
through variants and selecting specific types. Limbo's variant types are useful
but it sometimes feels like I'm overusing them.
</p>

<p>
The <a href="https://www.vitanuova.com/inferno/man/2/format.html">format module</a>
seemed useful but I couldn't get it to work. Maybe I didn't understand its use
case properly. However, it did lead me to s-expressions.
</p>

<p>
The <a href="https://www.vitanuova.com/inferno/man/2/sexprs.html">sexprs module</a>
provides functions and methods for reading and writing s-expressions. Although
we're dealing with variants again, there are only three types to handle, and
only two of these are relevant. I was hoping that it might be simpler to read
and write s-expressions than JSON data. I'm still unsure about that because I
found myself writing quite a bit of code to handle them.
</p>

<p>
In the end, the organiser application keeps its appointments in a file
containing s-expressions and it seems to work reasonably well. Maybe I'll
revisit the decision later.
</p>
<!-- /content -->

<!-- name -->David Boddie<!-- /name -->
<!-- date -->14 January 2022<!-- /date -->
