<!-- title -->Notes on the Inferno Thumb Compiler<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- content -->

<p>
On the 9fans mailing list,
<a href="https://marc.info/?l=9fans&m=164340860005620&w=2">I said I would
write something</a> about using the Inferno Thumb compiler to write bare
metal code.
</p>

<p>
I'm also trying to add support for floating point instructions to the
compiler so that cores that support FPv4-SP instructions can use them.
My branch is being pushed to repositories on
<a href="https://bitbucket.org/dboddie/inferno-os/branches/">BitBucket</a>
and <a href="https://gitlab.com/dboddie/inferno-os/-/branches">GitLab</a>.
</p>

<p>
The assembler, compiler and linker for Thumb are <tt>5a</tt>, <tt>tc</tt>
and <tt>tl</tt>. These are not built by default when hosted Inferno is built.
It should be possible to just enter each of thosee directories in
<tt>util</tt> and run <tt>mk</tt>.
</p>

<p>
For the STM32F405 MCU I'm using, I need to build code that loads at an
address of 0x08000000 and ensure that data is located at 0x20000000.
This means that the <tt>mkfile</tt> that builds the code must call the
<tt>tl</tt> linker with <tt>-T0x08000000</tt> for the text,
<tt>-D0x20000000</tt> for the data and <tt>-R0</tt> to allow the data to be
positioned separately to the code.
</p>

<p>
As with all bare metal coding, a loader is needed to set up the registers and
data for the C code. This needs to set the stack pointer and static base
registers. It also copies the data from the end of the text section into the
data section.
</p>

<div class="highlight"><pre><span class="cp">#include</span> <span class="cpf">&quot;thumb2.h&quot;</span><span class="cp"></span>
<span class="cp">#include</span> <span class="cpf">&quot;vectors.s&quot;</span><span class="cp"></span>

<span class="nf">THUMB</span><span class="err">=</span><span class="mi">4</span>
<span class="nf">STACK_TOP</span><span class="err">=</span><span class="mi">0x20020000</span>

<span class="nf">TEXT</span> <span class="no">_start</span><span class="p">(</span><span class="no">SB</span><span class="p">),</span> <span class="no">THUMB</span><span class="p">,</span> <span class="no">$-4</span>

    <span class="nf">MOVW</span>    <span class="no">$setR12</span><span class="p">(</span><span class="no">SB</span><span class="p">),</span> <span class="no">R1</span>
    <span class="nf">MOVW</span>    <span class="no">R1</span><span class="p">,</span> <span class="no">R12</span>	<span class="err">/</span><span class="p">*</span> <span class="no">static</span> <span class="no">base</span> <span class="p">(</span><span class="no">SB</span><span class="p">)</span> <span class="p">*</span><span class="err">/</span>
    <span class="nf">MOVW</span>    <span class="no">$STACK_TOP</span><span class="p">,</span> <span class="no">R1</span>
    <span class="nf">MOVW</span>    <span class="no">R1</span><span class="p">,</span> <span class="no">SP</span>

    <span class="cm">/* Copy initial values of data from after the end of the text section to</span>
<span class="cm">       the beginning of the data section. */</span>
    <span class="nf">MOVW</span>    <span class="no">$etext</span><span class="p">(</span><span class="no">SB</span><span class="p">),</span> <span class="no">R1</span>
    <span class="nf">MOVW</span>    <span class="no">$bdata</span><span class="p">(</span><span class="no">SB</span><span class="p">),</span> <span class="no">R2</span>
    <span class="nf">MOVW</span>    <span class="no">$edata</span><span class="p">(</span><span class="no">SB</span><span class="p">),</span> <span class="no">R3</span>

<span class="nl">_start_loop:</span>
    <span class="nf">CMP</span>     <span class="no">R3</span><span class="p">,</span> <span class="no">R2</span>              <span class="cm">/* Note the reversal of the operands */</span>
    <span class="nf">BGE</span>     <span class="no">_end_start_loop</span>

    <span class="nf">MOVW</span>    <span class="p">(</span><span class="no">R1</span><span class="p">),</span> <span class="no">R4</span>
    <span class="nf">MOVW</span>    <span class="no">R4</span><span class="p">,</span> <span class="p">(</span><span class="no">R2</span><span class="p">)</span>
    <span class="nf">ADD</span>     <span class="no">$4</span><span class="p">,</span> <span class="no">R1</span>
    <span class="nf">ADD</span>     <span class="no">$4</span><span class="p">,</span> <span class="no">R2</span>
    <span class="nf">B</span>       <span class="no">_start_loop</span>

<span class="nl">_end_start_loop:</span>

    <span class="nf">B</span>   <span class="p">,</span><span class="no">main</span><span class="p">(</span><span class="no">SB</span><span class="p">)</span>
</pre></div>

<p>
In the main function, I call other functions for setting up clocks, GPIOs and
the USART. This is currently in a separate repository for bare metal tests
which I'll push to GitLab soon.
</p>
<!-- /content -->

<!-- name -->David Boddie<!-- /name -->
<!-- date -->29 January 2022<!-- /date -->
