<!-- title -->Appointments<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- content -->
<p>
The framework for the organiser application is slowly developing new features.
It's now possible to navigate between different panels to access different
tools and views, though currently only the appointments list and calendar are
working to any reasonable level.
</p>

<div class="centre"><img class="dark" src="images/2022-01-13-menu.png" /><br/>
<span class="caption">The main menu</span></div>

<p>
The main menu is just a panel with a <tt>Menu</tt> widget and a callback that
changes the current panel depending on which item was selected. Pressing
<em>Escape</em> from here exits the application.
</p>

<div class="centre"><img class="dark" src="images/2022-01-13-appointments.png" />
<img class="dark" src="images/2022-01-13-editor.png" /><br/>
<span class="caption">Viewing a list of appointments by day</span></div>

<p>
The appointments list currently shows only a list of days that have
appointments, each of which can be edited. It's not yet possible to add new
ones or remove days. Pressing <em>Escape</em> from here returns to the menu.
Pressing <em>Return</em> opens an editor for the selected day, which shows the
appointments for that day in a single text document.
</p>

<div class="centre"><img class="dark" src="images/2022-01-13-calendar.png" /><br/>
<span class="caption">The calendar shows the days with appointments</span></div>

<p>
Appointments data is shared between the appointments and calendar panels, so
the calendar reflects what is shown in the appointments list. Currently, it
isn't possible to edit appointments from the calendar view, though it is
possible to add and delete days from the appointments list.
</p>
<!-- /content -->

<!-- name -->David Boddie<!-- /name -->
<!-- date -->13 January 2022<!-- /date -->
