<!-- title -->Building up a Framework<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- content -->

<p>
I've had my head down on implementing widgets and trying to make them fit
together nicely in a framework. Instead of getting too focused on that, I
should try to write a bit about activities more regularly. Anyway, here's what
has happened recently.
</p>

<div class="centre"><img class="dark" src="images/2022-01-03-focus.png" /><br/>
<span class="caption">Editable widgets can accept keyboard focus</span></div>

<p>
Editors, like <tt>LineEdit</tt> and <tt>TextEdit</tt> will look and behave
differently when they are given the keyboard focus. Panels can implement a bit
of keyboard handling to manage focus navigation:
</p>

<div class="highlight"><pre><span class="n">main_callback</span><span class="p">(</span><span class="n">panel</span><span class="o">:</span> <span class="kt">ref</span> <span class="n">Panel</span><span class="p">,</span> <span class="n">event</span><span class="o">:</span> <span class="kt">ref</span> <span class="n">Panels</span><span class="o">-&gt;</span><span class="n">Event</span><span class="p">)</span><span class="o">:</span> <span class="kt">int</span>
<span class="p">{</span>
    <span class="n">pick</span> <span class="n">inst</span> <span class="o">:=</span> <span class="n">event</span>
    <span class="p">{</span>
        <span class="n">Key</span> <span class="o">=&gt;</span>
            <span class="k">case</span> <span class="n">inst</span><span class="p">.</span><span class="n">key</span> <span class="p">{</span>
                <span class="n">Keyboard</span><span class="o">-&gt;</span><span class="n">Esc</span> <span class="o">=&gt;</span> <span class="k">return</span> <span class="o">-</span><span class="mi">1</span><span class="p">;</span>
                <span class="mi">9</span> <span class="o">=&gt;</span> <span class="n">panel</span><span class="p">.</span><span class="n">nextfocus</span><span class="p">();</span>
            <span class="p">}</span>
    <span class="p">}</span>
    <span class="k">return</span> <span class="mi">0</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>

<p>
The <tt>panel.nextfocus</tt> method updates the panel's focus widget.
</p>

<div class="centre"><img class="dark" src="images/2022-01-03-menu.png" /><br/>
<span class="caption">A menu of items</span></div>

<p>
The <tt>Menu</tt> widget is similar to the <tt>TextEdit</tt> in implementation,
so I wonder if I can somehow merge them at some point.
</p>

<div class="centre"><img class="dark" src="images/2022-01-03-calendar.png" /><br/>
<span class="caption">Showing the current day and providing a cursor</span></div>

<p>
I updated the calendar widget to show the current day if it is shown in the
current month. There is also a cursor you can use to navigate between days.
</p>

<div class="centre"><img class="dark" src="images/2022-01-03-appointments.png" /><br/>
<span class="caption">Marking appointments on a calendar</span></div>

<p>
The calendar widget supports a set of flags that indicate which days have
appointments. This needs to be updated by the application when the month
changes, which is a bit awkward, but maybe I'll create a helper function that
can do most of the work.
</p>
<!-- /content -->

<!-- name -->David Boddie<!-- /name -->
<!-- date -->3 January 2022<!-- /date -->
