<!-- title -->SparkFun MicroMod Teensy<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- summary -->
Porting Inferno to the SparkFun MicroMod Teensy processor board.
<!-- /summary -->

<!-- content -->
<p>
The idea behind this next series of diary entries is to give an idea of what it
takes to port Inferno to another platform, what steps need to be taken, what to
look out for, where to find information, and so on. It's not going to be very
comprehensive because we're already starting with a working compiler toolchain
and existing ports to related platforms.
</p>

<h2>Preparations</h2>

<p>
I started by fetching the
<a href="https://developer.arm.com/documentation/ddi0489/">Arm Cortex-M7
Processor Technical Reference Manual</a>, the
<a href="https://developer.arm.com/documentation/dui0646/">Arm Cortex-M7
Devices Generic User Guide</a> and the i.MX RT1060 Processor Reference Manual</a>,
available from the <a href="https://www.pjrc.com/store/teensy41.html#tech">Teensy
4.1 product page</a>.
</p>

<p>
I always try to remember that setting up these boards involves figuring out a
virtual checklist of items: vectors/interrupts, power, clocks, pin modes.
This gives me an idea of what to look at in the reference manual. In this case,
I started to figure out what might be needed to get the status LED to light up
in bare metal code, then decided to cheat a bit by firing up the Arduino
programming environment to get it to print out the values held in various
registers. Then I went looking for the
<a href="https://ntnuopen.ntnu.no/ntnu-xmlui/handle/11250/3034870?show=full">thesis</a>
about porting Inferno to the same hardware. I also started digging into the
<a href="https://github.com/PaulStoffregen/cores/tree/master/teensy4">Arduino
core</a> for the Teensy 4.1.
</p>

<h2>Building boot images</h2>

<p>
Booting from flash memory seems to involve something called FlexSPI. Looking
at the <a href="https://github.com/tsunko/teensy-minimal-bare-metal-zig/blob/master/src/linker.ld">linker
script</a> for a bare metal Zig program, there is a FlexSPI configuration
section which is similar to the one in the
<a href="https://github.com/PaulStoffregen/cores/blob/master/teensy4/bootdata.c">bootdata.c</a>
file in the Arduino core. That, in turn, refers to the FlexSPI Configuration
Block section (9.6.3.1) in revision 3 of the i.MX RT1060 PRM.
</p>

<p>
The Zig example is probably the simplest and most informative. It looks like
the payload is structured like this:
</p>

<ul>
<li>FlexSPI configuration</li>
<li>Image Vector Table</li>
<li>Boot Data</li>
<li>Code</li>
</ul>

<p>
With a plausible-looking binary bundle ready, I made a HEX file with the
<tt>bin2hex.py</tt> tool that is supplied with the <tt>python3-intelhex</tt>
package on Debian, and used the <tt>teensy_loader_cli</tt> tool to send it to
the device. The result was 9 flashes of the PROG LED, repeating periodically.
A quick search for this was quite frustrating given that describing the issue
using the terms &ldquo;blink&rdquo; or &ldquo;flash&rdquo; tends to return
fairly basic guides that involve running the stock LED-blinking example.
In the end, after stumbling over various forum posts that mention the problem,
I found a link to the
<a href="https://www.pjrc.com/store/ic_mkl02_t4.html">Bootloader Chip for DIY
Teensy 4.0 & 4.1 Projects</a> page which gives the describes the
&ldquo;diagnostic blink codes&rdquo;. About the only useful suggestion there
is that it might be caused by a hard fault in early startup code.
</p>

<p>
I changed a couple of instructions involving the stack pointer and disabled
interrupts until all the vectors were set up, and this helped get my first
program to run and light up the status LED. Adding a loop with delays in which
the LED is switched on and off resulted in the usual blinking LED program.
</p>

<!-- /content -->

<!-- name -->David Boddie<!-- /name -->
<!-- date -->30 October 2023<!-- /date -->
