<!-- title -->TFT Display<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- summary -->
Displaying graphics on a screen.
<!-- /summary -->

<!-- content -->
<p>
Still playing with the <a href="2023-08-22.html">Apollo3 port</a>, I realised
that I hadn't tried using Inferno with
<a href="https://learn.adafruit.com/adafruit-2-8-and-3-2-color-tft-touchscreen-breakout-v2?view=all">this
touchscreen breakout board</a> that I acquired many years ago. I've done things
with my bare metal framework, but not with Inferno.
</p>

<h2>Another SPI device</h2>

<p>
Like the <a href="2023-03-04.html">e-ink display</a> I used earlier, this
display can be driven via an SPI bus. It also features a parallel bus mode, but
the emphasis is on using SPI in the tutorial. Also, it's a lot more economical
in terms of wiring to use SPI for simple, slow graphics.
</p>

<p>
As with the e-ink display driver, the bare metal code was converted to C and
dropped into the framework of a device driver with a thematically appropriate
file name, <tt>devili9341.c</tt>, since it interacts with the ILI9341 display
driver. This device driver exposes a <tt>data</tt> file in the
<tt>/dev/display</tt> directory. I reused the <tt>#v</tt> kernel device
identifier for the display since I'm not likely to be using a VGA display with
this board.
</p>

<p>
As with the UC8159 driver for the e-ink display, the <tt>data</tt> file exposed
by the device's file server accepts pixel data, preparing the display when the
first pixel is written to it and tidying up when the last pixel is received.
Something more complex could be used to allow text output or graphics primitives
to be used. There isn't enough RAM to hold a framebuffer that can be copied to
the display, so caching graphics isn't an option. The display has its own RAM,
in any case.
</p>

<div class="centre"><img class="dark" src="images/2023-12-12-display.jpg" /><br />
<span class="caption">The Artemis module on a carrier board, connected via an
SPI bus to a TFT display.</span>
</div>

<p>
Still, with pixel-level access to the display, programs like a Mandelbrot set
generator can be written to take advantage of its bright, colourful output.
It supports 16-bit colour with a RGB565 format (or RGB16 in <tt>draw.m</tt>
terminology) so photos are reproduced very well.
</p>

<!-- /content -->
12345678901234567890123456789012345678901234567890123456789012345678901234567890
<!-- name -->David Boddie<!-- /name -->
<!-- date -->12 December 2023<!-- /date -->
