<!-- title -->Interrupt Handling<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- summary -->
Trying to diagnose and work around interrupt issues.
<!-- /summary -->

<!-- content -->
<p>
Previously, I mentioned that <a href="2023-11-04.html#basepri">there were
issues with setting the <tt>CONTROL</tt> and <tt>BASEPRI</tt> registers</a>.
Trying to set <tt>BASEPRI</tt> or change <tt>CONTROL</tt> caused a usage fault
with an undefined instruction error. Trying to use an <tt>SVC</tt> instruction
to enter Handler mode and set <tt>CONTROL</tt> or <tt>BASEPRI</tt> also failed
to work.
</p>

<p>
Looking at the assembled code with the
<a href="https://www.capstone-engine.org/">Capstone</a> disassembler revealed
that the instructions I had generated were not recognised. I quickly wrote a
small test program to compile with <tt>gcc</tt> and discovered that I'd encoded
the <tt>mask</tt> field of the <tt>MSR</tt> instruction with a different value
to the one that <tt>gcc</tt> generated. Using the same value fixed the problem.
</p>

<h2>More interrupt issues</h2>

<p>
I was hoping that this would resolve issues with the priority-setting
approach, and it was possible to change the base priority to effectively
enable and disable the SysTick exception. However, occasionally there would be
a crash caused by the contents of the static base register appearing in the
program counter. Why this should happen is only sort of clear if you know how
I implemented task switching for the Thumb-2/Cortex-M ports of Inferno.
The summary is that the static base register (R12) is used to temporarily
hold the return address of the SysTick exception until it can be stacked for
the eventual return to pre-empted code. Since there is a very narrow window
of time where this register can be overwritten, this approach can be
potentially undermined if another process resets R12.
</p>

<p>
Now that we're using <tt>BASEPRI</tt> to manage the SysTick interrupt, we can
use <tt>PRIMASK</tt> to disable interrupts and protect the vulnerable region
of code against interruptions. I initially experimented with using the unused
register, R10, as a mutex to guard against reentry into the problematic code,
but this approach is perhaps more robust, at least for now. Having said that,
the use of R10 opened up the approach of setting registers in a routine while
modifying the stack to reset them when the routine returns. This could be
helpful in similar situations where we can't disable interrupts completely.
</p>

<h2>And toolchain issues</h2>

<p>
While experimenting with solutions, I discovered that the compiler was not
generating the <tt>AND.S</tt> instruction correctly. This was a problem I'd
introduced a while ago, so it was good to go back and fix it.
</p>

<!-- /content -->
12345678901234567890123456789012345678901234567890123456789012345678901234567890
<!-- name -->David Boddie<!-- /name -->
<!-- date -->13 November 2023<!-- /date -->
