<!-- title -->UARTs<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- summary -->
Trying to get a UART to work.
<!-- /summary -->

<!-- content -->
<p>
One of the first things that's useful to have when experimenting with Inferno
on new hardware is access to a UART (Universal Asynchronous Receiver
Transmitter) peripheral so that you can get data into and out of the hardware
via a serial connection. This is typically done using a USB-to-serial dongle.
</p>

<h2>Accessing UARTs</h2>

<p>
The i.MX RT1062 on the Teensy MicroMod board has a number of UARTs, and some of
these are exported to pins that can be accessed on carrier boards like the
<a href="https://learn.sparkfun.com/tutorials/micromod-all-the-pins-atp-carrier-board">ATP
(All The Pins) board</a>.
The <a href="https://learn.sparkfun.com/tutorials/micromod-teensy-processor-hookup-guide/all">MicroMod
Teensy Hookup Guide</a> mentions that three UARTs are available, with the first
being exported via the USB pins. That one seems to be a bit more complex to use
so the other two are more likely candidates for support.
</p>

<h2>Configuring software</h2>

<p>
Another tour of the i.MX RT1062 Processor Reference Manual and the Teensy
Arduino code provides hints as to what needs to be enabled when setting up a
UART. The peripheral clock needs to be configured and propagated to the UART,
the pads that expose the transmit and receive lines to the connector on the
processor board need to be set up to be controlled by the UART module, and the
way that the module runs also needs to be configured.
</p>

<h2>Next steps</h2>

<p>
The next thing to do is to translate this bare metal code into something that
integrates into Inferno, then get to the same point with a fairly minimal
Inferno build.
</p>
<!-- /content -->
12345678901234567890123456789012345678901234567890123456789012345678901234567890
<!-- name -->David Boddie<!-- /name -->
<!-- date -->2 November 2023<!-- /date -->
