<!-- title -->Automated Inferno Builds<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- summary -->
Automating builds for some of the Inferno ports.
<!-- /summary -->

<!-- content -->
<p>
Now that there are a few Cortex-M ports of Inferno, I want to make sure that
they can all be built independently of my development environment. I had
already set up the <a href="https://github.com/dboddie/inferno-test-builds/">Inferno
Test Builds</a> repository on GitHub to test that the ports can be built in
fairly clean environments, just to make sure that nothing was relying on files
that I hadn't committed to any of the repositories. Another motivation was to
provide other people with a way of building and downloading kernels and system
images without needing to set up a development environment.
</p>

<h2>A nicer front end</h2>

<p>
Although the repository containing the test builds works reasonably well&nbsp;&ndash;&nbsp;within
the limitations of GitHub Actions, at least&nbsp;&ndash;&nbspit's not a very
user-friendly way of getting at the binary files you need for any given device.
As a result, I created the <a href="https://github.com/dboddie/inferno-ports">Inferno
Ports</a> repository to both build ports and publish information about them,
using a set of workflows that run on GitHub-hosted runners.
The results can be found on the
<a href="https://dboddie.github.io/inferno-ports/">overview page</a> that the
workflows produce.
</p>

<p>
The process isn't ideal: it tries to build all the ports and only creates a new
overview page if all the builds complete successfully. Really, it should use
completely separate workflows for the builds and the publication process, only
doing the work needed to track changes to current ports. The problem is
finding a way to describe the process to the GitHub Actions
system&nbsp;&ndash;&nbsp;assuming that it's possible to support that use case.
</p>

<p>
At <a href="https://github.com/yshurik/">yshurik's</a> request, I added the
Raspberry Pi port to the collection of builds, and I may try to re-enable
<a href="https://github.com/caerwynj/inferno-os/tree/pico">Caerwyn's Pi Pico
port</a> when I get a chance. I'm not sure about the other ports I've created.
</p>
<!-- /content -->
12345678901234567890123456789012345678901234567890123456789012345678901234567890
<!-- name -->David Boddie<!-- /name -->
<!-- date -->13 December 2023<!-- /date -->
