<!-- title -->SPI and UC8159 again<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- summary -->
Looking at using Inferno on the SparkFun Artemis module to communicate over an
SPI bus with a UC8159 display driver attached to an e-ink display.
<!-- /summary -->

<!-- content -->

<p>
Back in March, I looked at <a href="2023-03-04.html">using an e-ink display</a>
with the <a href="2023-02-23.html">Inferno port to the STM32F405 MCU</a> on a
SparkFun MicroMod processor board. Part of getting to know the
<a href="2023-08-22.html">Apollo3 microcontroller</a> involves learning to set
up on-chip peripherals, so that programs can talk to devices over connections
like the <a href="2023-08-29.html">I<sup>2</sup>C bus</a>.
</p>

<h2>SPI</h2>

<p>
Setting up communication over a Serial Peripheral Interface (SPI) bus was the
next logical step after I<sup>2</sup>C had been tackled. Not only is it
something that lots of displays and bits of hardware use, it's handled by the
same peripheral as I<sup>2</sup>C: the IOM (I2C/SPI Master Module).
</p>

<p>
As before, some tests were done in a bare metal environment for rapid iteration
of test code. Running some Arduino examples also helped to establish what kind
of values the registers would be reasonable to use with the IOM. This was
followed up by trying to port some of the SPI tests from the other bare metal
implementations.
</p>

<p>
One set of SPI tests is for the UC8159 display driver used in the Inky
Impression e-ink display, and these worked without any real software issues.
Setting it up, however, was an ordeal. At first the test didn't seem to work,
so the STM32 board was wired up to check that the equivalent code would work.
It didn't. After lots of swapping processor boards, carrier boards, jumper
wires and intermediate prototyping boards, the STM32 got the display working
again. The Artemis board with the Apollo3 was swapped back in again, and the
code worked first time. The problem was probably a dodgy connection.
</p>

<h2>Obscure errors and workarounds</h2>

<p>
Transplantation of the SPI code into the <tt>apollo3</tt> branch of Inferno was
straightforward. The basic programs to paint stripes on the screen and show
text worked without issues. Since the Apollo3 has more RAM than either the
STM32 or SAMD51 MCUs I have, it seemed like it would be possible to handle
image files stored in flash without having to pull them out of the root file
system and send them to the display driver one byte at a time. The first time
I tried to send an image file to the display, it worked, but subsequent
kernels failed to boot properly.
</p>

<p>
There then followed lots of debugging and diagnosis to find that the
default <tt>Pool</tt> data structures were not being initialised properly (or
at all) in the kernel. Smaller kernels didn't suffer from this problem, but
ones that exceeded a certain size failed to run. After more diagnosis, it
turned out that only the first 512K of flash memory is written by the
bootloader when flashing the MCU with new software. This is
<a href="https://github.com/sparkfun/Apollo3_Uploader_SVL/issues/8">a known
issue with the bootloader</a>. I was just happy that it wasn't my code that
was broken!
</p>

<p>
With the inability to send kernel builds larger than 512K to the MCU, it was
time to strip down the root file system. Given that I wanted to keep the image
data, other things had to be removed. One easy way to do this presented itself.
Because I was using
<a href="https://github.com/dboddie/inferno-freeze-slides/tree/main/pdf">frozen
modules</a> out of habit, using up now-precious flash memory with expanded
Limbo code, I could include regular modules instead. This would be a problem if
the Apollo3 had less RAM, but the trade-off could be made in favour of flash
memory on this occasion.
</p>

<p>
The end result is that this kind of thing is possible:
</p>

<pre>
apollo3$ bind -a '#u' /dev/ink
apollo3$ cp /tmp/imagedata /dev/ink/data
</pre>

<div class="centre"><img class="dark" src="images/2023-09-02-apollo3-inky.jpg" /><br />
<span class="caption">The Artemis module on a carrier board, connected via an
SPI bus to an e-ink display.</span>
</div>

<p>
I'm undecided about what to try next. It would be interesting to get Bluetooth
communication working on the Artemis module. Alternatively, I'd like to get
floating point instructions working so that more Limbo modules can be used.
Perhaps I'll nudge both of these along at the same time.
</p>

<!-- /content -->

<!-- name -->David Boddie<!-- /name -->
<!-- date -->2 September 2023<!-- /date -->
