<!-- title -->Floating Point Extras<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- summary -->
Playing with floating point arithmetic.
<!-- /summary -->

<!-- content -->
<p>
Although there are still issues to resolve around the <tt>libmath/fdlibm</tt>
library, I've been working around them for now. I wanted to perform some more
tests of the floating point support, so I revised a crude Mandelbrot set
plotter that I wrote a few years ago so that it could output ANSI escape codes
instead of drawing to the framebuffer. This results in a quick visual test that
can be compared with output from other systems.
</p>

<div style="border: solid 1px #a08040; padding: 0.5em; font-family: monospace; font-size: 10pt; color: white; background-color: black; line-height: 1em">
Initial Dis: "/osinit.dis"<br>
**<br>
** Inferno<br>
** Vita Nuova<br>
**<br>
apollo3$ textmandel<br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#bb9044;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#77fc88;">&#160;</span><span style="color:white;background-color:#dd4822;">&#160;</span><span style="color:white;background-color:#cc6c33;">&#160;</span><span style="color:white;background-color:#aab455;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#77fc88;">&#160;</span><span style="color:white;background-color:#ff0000;">&#160;</span><span style="color:white;background-color:black;">&#160;</span><span style="color:white;background-color:#ff0000;">&#160;</span><span style="color:white;background-color:#99d866;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#aab455;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#ff0000;">&#160;</span><span style="color:white;background-color:#bb9044;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#cc6c33;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:black;">&#160;</span><span style="color:white;background-color:#99d866;">&#160;</span><span style="color:white;background-color:#cc6c33;">&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:#77fc88;">&#160;&#160;</span><span style="color:white;background-color:black;">&#160;</span><span style="color:white;background-color:#cc6c33;">&#160;</span><span style="color:white;background-color:#aab455;">&#160;</span><span style="color:white;background-color:#bb9044;">&#160;</span><span style="color:white;background-color:#ee2411;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#dd4822;">&#160;</span><span style="color:white;background-color:#aab455;">&#160;</span><span style="color:white;background-color:#99d866;">&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:black;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#bb9044;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#99d866;">&#160;</span><span style="color:white;background-color:#cc6c33;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#dd4822;">&#160;</span><span style="color:white;background-color:#99d866;">&#160;</span><span style="color:white;background-color:#cc6c33;">&#160;</span><span style="color:white;background-color:black;">&#160;</span><span style="color:white;background-color:#ee2411;">&#160;</span><span style="color:white;background-color:black;">&#160;</span><span style="color:white;background-color:#dd4822;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#2248dd;">&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:#bb9044;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#ee2411;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;&#160;</span><span style="color:white;background-color:#77fc88;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#dd4822;">&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;</span><br>
&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#cc6c33;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#ee2411;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;&#160;</span><span style="color:white;background-color:#99d866;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#ff0000;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;</span><br>
&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:#bb9044;">&#160;</span><span style="color:white;background-color:black;">&#160;</span><span style="color:white;background-color:#dd4822;">&#160;</span><span style="color:white;background-color:#aab455;">&#160;&#160;</span><span style="color:white;background-color:#ff0000;">&#160;</span><span style="color:white;background-color:black;">&#160;</span><span style="color:white;background-color:#bb9044;">&#160;&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:#77fc88;">&#160;&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:#ff0000;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#dd4822;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;</span><br>
<span style="color:white;background-color:#1124ee;">&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:#bb9044;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#bb9044;">&#160;</span><span style="color:white;background-color:#cc6c33;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#dd4822;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;</span><br>
<span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#ff0000;">&#160;</span><span style="color:white;background-color:#77fc88;">&#160;&#160;</span><span style="color:white;background-color:#99d866;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;</span><br>
<span style="color:white;background-color:#2248dd;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#77fc88;">&#160;</span><span style="color:white;background-color:#99d866;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#cc6c33;">&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;</span><br>
<span style="color:white;background-color:#2248dd;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#77fc88;">&#160;</span><span style="color:white;background-color:#99d866;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;</span><br>
<span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#ff0000;">&#160;</span><span style="color:white;background-color:#77fc88;">&#160;&#160;</span><span style="color:white;background-color:#99d866;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;</span><br>
<span style="color:white;background-color:#1124ee;">&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:#bb9044;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#bb9044;">&#160;</span><span style="color:white;background-color:#cc6c33;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#dd4822;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;</span><br>
&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:#bb9044;">&#160;</span><span style="color:white;background-color:black;">&#160;</span><span style="color:white;background-color:#dd4822;">&#160;</span><span style="color:white;background-color:#aab455;">&#160;&#160;</span><span style="color:white;background-color:#ff0000;">&#160;</span><span style="color:white;background-color:black;">&#160;</span><span style="color:white;background-color:#bb9044;">&#160;&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:#77fc88;">&#160;&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:#ff0000;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#dd4822;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;</span><br>
&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#cc6c33;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#ee2411;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;&#160;</span><span style="color:white;background-color:#99d866;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#ff0000;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;</span><br>
&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;&#160;</span><span style="color:white;background-color:#77fc88;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#dd4822;">&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:#bb9044;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#ee2411;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#99d866;">&#160;</span><span style="color:white;background-color:#cc6c33;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#dd4822;">&#160;</span><span style="color:white;background-color:#99d866;">&#160;</span><span style="color:white;background-color:#cc6c33;">&#160;</span><span style="color:white;background-color:black;">&#160;</span><span style="color:white;background-color:#ee2411;">&#160;</span><span style="color:white;background-color:black;">&#160;</span><span style="color:white;background-color:#dd4822;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#2248dd;">&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:black;">&#160;</span><span style="color:white;background-color:#99d866;">&#160;</span><span style="color:white;background-color:#cc6c33;">&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:#77fc88;">&#160;&#160;</span><span style="color:white;background-color:black;">&#160;</span><span style="color:white;background-color:#cc6c33;">&#160;</span><span style="color:white;background-color:#aab455;">&#160;</span><span style="color:white;background-color:#bb9044;">&#160;</span><span style="color:white;background-color:#ee2411;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#dd4822;">&#160;</span><span style="color:white;background-color:#aab455;">&#160;</span><span style="color:white;background-color:#99d866;">&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:black;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#bb9044;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#cc6c33;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#88fc77;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#aab455;">&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#ff0000;">&#160;</span><span style="color:white;background-color:#bb9044;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#77fc88;">&#160;</span><span style="color:white;background-color:#ff0000;">&#160;</span><span style="color:white;background-color:black;">&#160;</span><span style="color:white;background-color:#ff0000;">&#160;</span><span style="color:white;background-color:#99d866;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#77fc88;">&#160;</span><span style="color:white;background-color:#dd4822;">&#160;</span><span style="color:white;background-color:#cc6c33;">&#160;</span><span style="color:white;background-color:#aab455;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;</span><span style="color:white;background-color:#4490bb;">&#160;</span><span style="color:white;background-color:#66d899;">&#160;</span><span style="color:white;background-color:#bb9044;">&#160;</span><span style="color:white;background-color:#55b4aa;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;</span><span style="color:white;background-color:#4490bb;">&#160;&#160;</span><span style="color:white;background-color:#336ccc;">&#160;&#160;</span><span style="color:white;background-color:#2248dd;">&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<span style="color:white;background-color:#1124ee;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><span style="color:white;background-color:black;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span><br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<br>
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<br>
apollo3$
</div>

<p>
It's a bit frivolous, but it's nice to see that the output produced by hosted
Inferno on my 64-bit AMD desktop machine looks the same as that produced by the
Apollo3 board.
</p>
<!-- /content -->

<!-- name -->David Boddie<!-- /name -->
<!-- date -->14 October 2023<!-- /date -->
