<!-- title -->Keyboard Queue and a Video<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- summary -->
Working around a keyboard queue issue and publishing an old video.
<!-- /summary -->

<!-- content -->
<p>
While testing the performance of floating point operations, I wanted to see
the effect of background processes on the <tt>textmandel</tt> process as it
ran in the foreground. This turned out to be problematic to set up.
Spawning a couple of <tt>blink</tt> processes before running
<tt>textmandel</tt> caused console input to appear to block, where pressing
return several times resulted in no more commands being executed.
</p>

<h2>Queuing problems</h2>

<p>
At first, I thought there might have been a problem with process scheduling,
but input from the UART was still being processed, meaning that processes
should still be scheduled. By chance, I discovered that pressing Ctrl-D to end
the input caused things to move again, though this could still be unreliable.
</p>

<p>
I traced what was going on in <tt>tiny/sh.dis</tt> and <tt>os/port/devcons.c</tt>
and found that there was probably something going wrong with the keyboard
queue, <tt>kbdq</tt>, though this was after a detour where I tried the regular
<tt>sh.dis</tt> and found that it didn't appear to suffer from this problem.
</p>

<p>
The cause of the problem is where I check for carriage returns in the bytes
read from the UART and insert line feeds after each one, using two calls to
<tt>kbdputc</tt>. The solution, or workaround, is to use <tt>qproduce</tt> to
insert the two-byte sequence. I don't know why this problem arose, but I'll
apply the same fix to all the other related ports.
</p>

<h2>Video from IWP9</h2>

<p>
Since information about next year's <a href="https://iwp9.org/">International
Workshop on Plan 9</a> have been published, I thought I should revisit the
video I recorded for my presentation last year. The live stream was recorded
and published in pieces for the event, so my talk is already available online,
but it seemed a shame to have recorded something that is never going to be
seen, so I uploaded it to YouTube.
</p>

<div>
<a href="https://youtu.be/IcibSmmT1Hc"><img src="images/2023-11-18-thumbnail.png"
   style="vertical-align: middle" /></a>&nbsp;
<a href="https://youtu.be/IcibSmmT1Hc">Hell Freezes Over: Freezing Limbo
modules to reduce Inferno's memory footprint</a>
</div>

<!-- /content -->
12345678901234567890123456789012345678901234567890123456789012345678901234567890
<!-- name -->David Boddie<!-- /name -->
<!-- date -->18 November 2023<!-- /date -->
