<!-- title -->Reusing Bare Metal code for the Teensy 4.1 Inferno Port<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- summary -->
Bringing up something in Inferno's C code.
<!-- /summary -->

<!-- content -->
<p>
Since all the <a href="2023-11-02.html">previous work</a> was done using a
custom low-level language for bare metal coding, it needed to be done again in
C for Inferno. This is slightly laborious, but ultimately quite useful because
it requires a bit of thought and attention to redo it in C.
</p>

<h2>First steps</h2>

<p>
After trying to import a more-or-less complete set of files from the Apollo3
port and failing to make progress, I stripped the <tt>main</tt> function and
<tt>l.s</tt> files back to something smaller, just to get the status LED to
blink. Then it was a case of configuring the UART so basic debugging could be
done.
</p>

<p>
To start with, the UART didn't work properly. Output was garbled. Some quick
checking of my code showed that I hadn't called the code I imported to enable
and configure the peripheral clocks. With that done, the UART could be used to
print useful diagnostic information.
</p>

<h2 id="basepri">Putting things back in place</h2>

<p>
I put the code I removed back in and tried running the kernel again.
This time problems arose as a result of the use of exception priorities and
the <tt>BASEPRI</tt> register that can be used to mask exceptions with certain
priority levels. For some reason that I need to investigate, trying to modify
either this register or the <tt>CONTROL</tt> register seems to result in a
usage fault with an undefined instruction error. This is despite the
<tt>CONTROL</tt> register having a value of zero indicating, among other
things, that the processor is in privileged mode.
</p>

<p>
Some messing around with system calls then occurred, which failed to lead to a
solution to the problem of how to set these registers. In the end, I went back
to using the <tt>PRIMASK</tt> register to enable and disable interrupts, using
the <tt>CPS</tt> instruction. I don't think this is a good solution because I
believe it can lead to lock loops in the test-and-set code.
</p>

<p>
Surprisingly, switching the mechanism behind <tt>spllo</tt> and friends made
the kernel just work. I had expected other problems to arise before that
happened.
</p>

<h2>Running programs</h2>

<p>
As with the other ports, there's nothing very fancy to see when Inferno runs:
</p>

<pre>
Initial Dis: "/osinit.dis"
**
** Inferno
** Vita Nuova
**
teensy41mm$ blink &
teensy41mm$ cat /dev/memory
      75168      260057       76064         823         290          44      184877 main
      20416      212774       20416         186          47          13      192346 heap
          0           0           0           0           0           0           0 image
teensy41mm$ ps
       1        1    inferno    0:00.0    release    12K Sh[$Sys]
       3        2    inferno    0:00.0    release    12K Blink[$Sys]
       5        1    inferno    0:00.0      ready    13K Ps[$Sys]
teensy41mm$
</pre>

<p>
As you can see, there's around 460K of free RAM to play with, which is more RAM
than the Cortex-M4 ports have to start with. There's also another 512K on the
chip which I need to enable somehow.
</p>

<!-- /content -->
12345678901234567890123456789012345678901234567890123456789012345678901234567890
<!-- name -->David Boddie<!-- /name -->
<!-- date -->4 November 2023<!-- /date -->
