<!-- title -->Infernal awk and more documentation<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- summary -->
Discovering things that were there all along. Writing about work already done.
<!-- /summary -->

<!-- content -->
<p>
While writing about compiler-related things, I realised for the first time that
Inferno is distributed with versions of <tt>awk</tt> and <tt>sed</tt>.
I don't think I was too surprised by this because both of these may well be
needed to build Inferno, and they're not exactly standard issue on Windows, for
example.
</p>

<h2>Building awk</h2>

<p>
The surprise was that it doesn't build by default on Linux, though that is
easily explained by the presence of the <tt>missing95.c</tt> file and the
Windows-specific configuration in the <tt>mkfile</tt>. Getting it to work is
relatively straightforward: adding dependencies on <tt>math</tt> and
<tt>bio</tt> to <tt>LIBS</tt>, fixing <tt>CFLAGS</tt> to include the required
header files, renaming <tt>getline</tt> symbols to avoid a clash with the
host's standard library, and using <tt>__ieee754_atan2</tt> for the missing
<tt>atan2</tt> library function.
</p>

<p>
And it works, at least for the things it is needed for when I build the native
ports I am working on. The next step might be to compile it into Inferno as a
module so that it can be used directly, instead of calling out to the host's
implementation.
</p>

<h2>Documenting ports</h2>

<p>
Playing with awk was a distraction from writing documentation for the
<a href="https://github.com/dboddie/inferno-ports-doc">Cortex-M ports</a>
which I was otherwise focused on. This is slowly taking shape as I revisit the
different mechanisms and reacquaint myself with them, something which was also
motivated by the deadline for work-in-progress papers for
<a href="https://iwp9.org/">IWP9</a>.
</p>

<!-- /content -->
12345678901234567890123456789012345678901234567890123456789012345678901234567890
<!-- name -->David Boddie<!-- /name -->
<!-- date -->5 March 2024<!-- /date -->
