<!-- title -->IWP9 and Cortex-M ports<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- summary -->
Quickly writing a paper then a set of slides for IWP9.
<!-- /summary -->

<!-- content -->
<p>
Last year I wrote a paper for the <a href="https://9e.iwp9.org/">9<sup>th</sup>
International Workshop on Plan 9 (IWP9)</a> which I then had to hurriedly
produce a presentation for. This year I didn't feel I had enough to write a
full paper, so I wrote a Work in Progress (WiP) paper instead, then discovered
that I had to produce a presentation for that. Once again, this happened while
travelling, so everything was more stressful than it needed to be.
</p>

<h2>Three more Cortex-M Inferno ports</h2>

<p>
The paper itself can be found in
<a href="https://github.com/dboddie/inferno-cortex-m-paper">this repository</a>,
as well as in <a href="https://iwp9.org/10iwp9proceedings.pdf">the workshop
proceedings</a>. It describes the work I've done over the last year or so to
make Inferno run on a set of related development boards. It really is a work in
progress, as there's so much to improve and update as the system is tested and
developed further.
</p>

<h2>The workshop</h2>

<p>
Unfortunately, apart from linking up to present my slides and answer questions,
I wasn't able to participate much in the workshop. I caught part of a talk
about industrial automation that I would have liked to have seen in its
entirety. Fortunately, the workshop was recorded, and all the talks can be
found on the Plan 9 Foundation's
<a href="https://www.youtube.com/@Plan9Foundation/videos">YouTube channel</a>,
either individually or as part of the daily streams.
</p>

<p>
As with my presentation from last year, I've also uploaded my pre-recorded
performance to YouTube.
</p>

<div>
<a href="https://www.youtube.com/watch?v=cHkICSzt7nE"><img src="images/2024-04-19-thumbnail.png"
   style="vertical-align: middle" /></a>&nbsp;
<a href="https://www.youtube.com/watch?v=cHkICSzt7nE">Three More Cortex-M Inferno Ports</a>
</div>

<!-- /content -->
12345678901234567890123456789012345678901234567890123456789012345678901234567890
<!-- name -->David Boddie<!-- /name -->
<!-- date -->19 April 2024<!-- /date -->
