<!-- title -->Inferno on the Pi Zero 2W<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- summary -->
Building a basic working environment on the Pi Zero 2W.
<!-- /summary -->

<!-- content -->
<p>
I've been continuing to hack around with the
<a href="https://github.com/yshurik/inferno-rpi">existing Inferno port to the
Raspberry Pi</a>, mixing in bits of 9pi and 9front where it looks like they're
needed. I spent some time yesterday looking at the USB keyboard driver,
becoming reacquainted with the details of USB keyboard handling that I last
explored when I wrote EHCI support for my Efika MX port.
</p>

<p>
I also pulled in some customisation to acme that I use in hosted
Inferno to make things more comfortable for a long-time non-acme user like
myself. And I created a quick screen device so that I could take screenshots.
</p>

<div class="centre"><a href="images/2024-05-12-rpi-zero2w-wm.png"><img class="light"
src="images/2024-05-12-rpi-zero2w-wm-small.png"
alt="A basic working environment on the Pi Zero 2W."></a><br/>
<span class="caption">Inferno on a Raspberry Pi Zero 2W</span></div>

<p>
Two obvious things need to be addressed: the window manager background doesn't
always update when windows are closed or moved, and acme sometimes thinks that
files in a FAT file system are directories. Both of these sometimes manifest
themselves in hosted Inferno, too, so I'll probably start by exploring these
issues there.
</p>

<!-- /content -->
12345678901234567890123456789012345678901234567890123456789012345678901234567890
<!-- name -->David Boddie<!-- /name -->
<!-- date -->12 May 2024<!-- /date -->
