<!-- title -->USB networking on the Pi Zero 2W<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- summary -->
Transplanting code to make a USB Ethernet adaptor work with on the Pi Zero 2W.
<!-- /summary -->

<!-- content -->
<p>
In the original <a href="https://github.com/yshurik/inferno-rpi">Inferno port
to the Raspberry Pi</a>, networking was implemented by a driver for the
built-in SMSC USB Ethernet controller on the original Raspberry Pi models.
When I tried the port on a Raspberry Pi Zero a few years ago, I realised that
this wasn't going to help get the Pi Zero online because it lacked Ethernet
hardware. I knew I'd have to look at supporting a third party USB Ethernet
adaptor but, after some time learning about USB in Inferno, I went off to do
other things.
</p>

<h2>Picking up USB again</h2>

<p>
When I tried running <a href="http://9legacy.org">9legacy</a> on the Pi Zero 2W
I was pleased to see that it automatically detected the Realtek RT8152B-based
USB Ethernet adaptor I have. Given that the original Inferno port adapted code
from 9pi/9legacy, I hoped that it might be possible to use the same approach.
I was worried that I'd have to find documentation and/or drivers for the
RT8152B but then I noticed that 9legacy reports it as a plain CDC
(Communications Device Class) device. Although there are apparently special
Linux drivers for this device, I'm guessing that they support the vendor's own
interface rather than the standard CDC interface.
</p>

<p>
In any case, I began by transplanting bits of the
<tt>appl/lib/usb/ethersmsc.b</tt> file into a new
<tt>appl/lib/usb/ethercdc.b</tt> file and updated the <tt>lib/usbdb</tt>
database file to let the USB daemon know about the new driver:
</p>

<pre>
vendor 0x0bda
	product 0x8152
		load /dis/lib/usb/ethercdc.dis
		vname REALTEK
		pname RT8152B
</pre>

<p>
A lot of the code in the <tt>ethercdc.b</tt> file is the same as that in
the <tt>ethersmsc.b</tt> file, with functions to configure the USB device's
endpoints and connect them to the <tt>/dev/ether0</tt> device, so that
Ethernet traffic can be directed over the USB interface.
Although it isn't necessary to configure the hardware using vendor-specific
USB requests, it is necessary to select the correct USB configuration, which
is something that initially confused me because I had assumed that there would
be only one configuration.
</p>

<p>
When I first tried the new driver, I didn't expect it to work straight away,
and it didn't, but it was only when I inspected the device descriptors using
<tt>lsusb</tt> in Linux that I realised that the first USB configuration is the
vendor's own proprietary one and that the second configuration is used for
standard CDC communication.
I quickly added a set configuration request for the second configuration and
the device burst into life the next time the system started! The DHCP code
ran and obtained an IP address from the local server:
</p>

<pre>
; cat /net/ipifc/0/local
192.168.1.103 -> 255.255.255.255 192.168.1.0 192.168.1.255 192.168.1.103
</pre>

<p>
It's possible to do things like look up IP addresses with <tt>dnsquery</tt>
and fetch web pages with <tt>webgrab</tt>:
</p>

<pre>
; ndb/dnsquery
> www.vitanuova.com
www.vitanuova.com ip    75.98.222.22
; webgrab http://9legacy.org
created 9legacy.html, 3631 bytes
created 9legacy_1.png, 2643 bytes
</pre>

<p>
It's also possible to export and mount file systems over the network, which is
really what I wanted to get working.
</p>

<h2>Some improvements</h2>

<p>
It's not ideal to just rely on the CDC configuration being the second one, so
I've since added a function to look for the appropriate class and subclass in
each configuration until either one is found, returning -1 if no suitable
configurations are found:
</p>

<pre>
find_cdc(dev: ref Usb->Dev): int
{
    # Look for a configuration with an interface
    for(i := 0; i < len dev.usb.conf; i++) {
        conf := dev.usb.conf[i];
        for(j := 0; j < len conf.iface; j++) {
            if(usb->Class(conf.iface[j].csp) == Usb->Clcomms &&
               usb->Subclass(conf.iface[j].csp) == Scether)
                return i;
        }
    }

    return -1;
}
</pre>

<p>
In the <tt>main</tt> function, this is called to obtain the index of the
configuration, then converted to a 1-based configuration number for use in a
set configuration USB request. This ensures that the device is behaving as a
CDC device and not using the vendor-specific communications protocol:
</p>

<pre>
    conf := find_cdc(dev);
    if(conf < 0) return -1;

    nr := u->usbcmd(dev, Usb->Rh2d | Usb->Rstd | Usb->Rdev, Usb->Rsetconf, conf + 1, 0, nil, 0);
    if(nr < 0) return -1;
</pre>

<p>
There's some room for consolidation and tidying in the two USB Ethernet
drivers, and the CDC driver shouldn't really need to be loaded via a
vendor-specific entry in the USB database. However, it works well enough for
now, and it means I can use the system for basic tasks.
</p>

<!-- /content -->
12345678901234567890123456789012345678901234567890123456789012345678901234567890
<!-- name -->David Boddie<!-- /name -->
<!-- date -->15 May 2024<!-- /date -->
