<!-- title -->Consolidating the Cortex-M Ports<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- summary -->
Consolidating the ARM Cortex-M ports into one source tree.
<!-- /summary -->

<!-- content -->
<p>
The four ports of Inferno to Cortex-M4 and M7 processors that I've worked on
shared a fair amount of code. This was the result of taking each port and using
it as the basis for the next. Ideally, all the common code would be maintained
in one place and reused, just as the SA1110 ports all reuse the code in the
<tt>os/sa1110</tt> directory.
</p>

<p>
The one port that's left behind for now is the SAMD51 port, since I can't test
it. That's still available in its own branch for now, though I might merge it
into the <tt>cortexm</tt> branch and leave it using duplicate code and
definitions.
</p>

<p>
An overview of these ports and others can be found on the
<a href="https://dboddie.github.io/inferno-ports/">Inferno Ports</a> page.
</p>

<!-- /content -->
12345678901234567890123456789012345678901234567890123456789012345678901234567890
<!-- name -->David Boddie<!-- /name -->
<!-- date -->27 January 2024<!-- /date -->
