<!-- title -->Unlocking the Interpreter<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- summary -->
A reminder to pay attention to instructions, and a look at internals.
<!-- /summary -->

<!-- content -->
<p>
After successfully running a few programs with my interpreter, I started up
the window manager to get the satisfaction of running something in the
<tt>wm/sh</tt> graphical shell. This blocked itself and stopped the
entire environment from running. I closed the emulator and investigated what
went wrong.
</p>

<p>
The answer, of course, is that I forgot to put <tt>release()</tt> and
<tt>acquire()</tt> function calls around my calls to kernel functions.
With that corrected, the test program could be run again:
</p>

<div class="centre">
<img src="images/2024-02-04-wm-sh-hello.png" /><br/>
<span class="caption">Running a simple program in the interpreter.</span>
</div>

<p>
With that working, it seemed like time to look at extending the interfaces
to the underlying system.
</p>

<h2>A digression about cat</h2>

<p>
One of the strange things you might encounter when using Inferno is the way
that the <tt>cat</tt> utility handles directories. On Linux, running <tt>cat</tt>
on a directory results in something like this:
</p>

<pre>
$ cat n
cat: n: Is a directory
$
</pre>

<p>
In the Inferno environment, this is the sort of thing you see:
</p>

<pre>
; cat /prog/1
=&#65533;U&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;u&#65533;&#65533;e5by&#65533;&#65533;&#65533;&#65533;&#65533;m&#65533;&#65533;&#65533;c&#65533;&#65533;eu&#65533;&#65533;e&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;disk&#65533;&#65533;david&#65533;&#65533;david&#65533;&#65533;=&#65533;U&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;u&#65533;&#65533;e7by&#65533;
&#65533;&#65533;&#65533;&#65533;m&#65533;&#65533;&#65533;c&#65533;&#65533;eu&#65533;&#65533;e&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;dump&#65533;&#65533;david&#65533;&#65533;david&#65533;&#65533;?&#65533;U&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;>&#65533;&#65533;e&#65533;`y&#65533;&#65533;&#65533;&#65533;&#65533;m&#65533;&#65533;&#65533;c&#65533;&#65533;e>&#65533;&#65533;e&#65533;
&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;client&#65533;&#65533;david&#65533;&#65533;david&#65533;&#65533;>&#65533;U&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;u&#65533;&#65533;e;by&#65533;&#65533;&#65533;&#65533;&#65533;m&#65533;&#65533;&#65533;c&#65533;&#65533;eu&#65533;&#65533;e&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;local&#65533;
&#65533;david&#65533;&#65533;david&#65533;&#65533;;&#65533;U&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;u&#65533;&#65533;e4by&#65533;&#65533;&#65533;&#65533;&#65533;m&#65533;&#65533;&#65533;c&#65533;&#65533;eu&#65533;&#65533;e&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;cd&#65533;&#65533;david&#65533;&#65533;david&#65533;&#65533;A&#65533;U&#65533;
&#65533;&#65533;&#65533;&#65533;&#65533;u&#65533;&#65533;e=by&#65533;&#65533;&#65533;&#65533;&#65533;m&#65533;&#65533;&#65533;c&#65533;&#65533;eu&#65533;&#65533;e&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;registry&#65533;&#65533;david&#65533;&#65533;david&#65533;&#65533;&lt;&#65533;U&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;u&#65533;&#65533;e:by&#65533;
&#65533;&#65533;&#65533;&#65533;m&#65533;&#65533;&#65533;c&#65533;&#65533;eu&#65533;&#65533;e&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;kfs&#65533;&#65533;david&#65533;&#65533;david&#65533;&#65533;&lt;&#65533;U&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;u&#65533;&#65533;e8by&#65533;&#65533;&#65533;&#65533;&#65533;m&#65533;&#65533;&#65533;c&#65533;&#65533;eu&#65533;&#65533;e&#65533;&#65533;
&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;ftp&#65533;&#65533;david&#65533;&#65533;david&#65533;&#65533;=&#65533;U&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;u&#65533;&#65533;e6by&#65533;&#65533;&#65533;&#65533;&#65533;m&#65533;&#65533;&#65533;c&#65533;&#65533;eu&#65533;&#65533;e&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;dist&#65533;&#65533;davi
d&#65533;&#65533;david&#65533;&#65533;?&#65533;U&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;u&#65533;&#65533;e>by&#65533;&#65533;&#65533;&#65533;&#65533;m&#65533;&#65533;&#65533;c&#65533;&#65533;eu&#65533;&#65533;e&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;remote&#65533;&#65533;david&#65533;&#65533;david&#65533;&#65533;=&#65533;U&#65533;&#65533;
&#65533;&#65533;&#65533;&#65533;u&#65533;&#65533;e&lt;by&#65533;&#65533;&#65533;&#65533;&#65533;m&#65533;&#65533;&#65533;c&#65533;&#65533;eu&#65533;&#65533;e&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;rdbg&#65533;&#65533;david&#65533;&#65533;david&#65533;&#65533;?&#65533;U&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;u&#65533;&#65533;e9by&#65533;&#65533;&#65533;&#65533;&#65533;m
&#65533;&#65533;&#65533;c&#65533;&#65533;eu&#65533;&#65533;e&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;&#65533;gridfs&#65533;&#65533;david&#65533;&#65533;david&#65533;&#65533;;
</pre>

<p>
You can see that there's a directory listing of sorts in the mixture of text
and binary data, and that's because <tt>cat</tt> is reading and returning a
sequence of <a href="https://9p.io/magic/man2html/5/stat">Rstat</a> messages
from the underlying file system.
</p>

<p>
This seemingly unhelpful behaviour turns out to be useful when implementing
some of the library features that the Limbo <tt>Sys</tt> module contains.
To get information about the contents of a directory, we can just read the
directory and decode the entries, like this:
</p>

<pre>
; cat /prog/1 | winter /tmp/out.w
name=ctl length (low)=0 length (high)=0 mode=00000080 mtime=1707005916 atime=1707083434 uid=david gid=david muid=david
name=dbgctl length (low)=0 length (high)=0 mode=000001A4 mtime=1707005916 atime=1707083434 uid=david gid=david muid=david
name=heap length (low)=0 length (high)=0 mode=000001A4 mtime=1707005916 atime=1707083434 uid=david gid=david muid=david
name=ns length (low)=0 length (high)=0 mode=00000124 mtime=1707005916 atime=1707083434 uid=david gid=david muid=david
name=nsgrp length (low)=0 length (high)=0 mode=00000124 mtime=1707005916 atime=1707083434 uid=david gid=david muid=david
name=pgrp length (low)=0 length (high)=0 mode=00000124 mtime=1707005916 atime=1707083434 uid=david gid=david muid=david
name=stack length (low)=0 length (high)=0 mode=00000124 mtime=1707005916 atime=1707083434 uid=david gid=david muid=david
name=status length (low)=0 length (high)=0 mode=00000124 mtime=1707005916 atime=1707083434 uid=david gid=david muid=david
name=text length (low)=0 length (high)=0 mode=00000000 mtime=1707005916 atime=1707083434 uid=david gid=david muid=david
name=wait length (low)=0 length (high)=0 mode=00000124 mtime=1707005916 atime=1707083434 uid=david gid=david muid=david
name=fd length (low)=0 length (high)=0 mode=00000124 mtime=1707005916 atime=1707083434 uid=david gid=david muid=david
name=exception length (low)=0 length (high)=0 mode=00000124 mtime=1707005916 atime=1707083434 uid=david gid=david muid=david
</pre>

<p>
So we can start to build up some of the support that programs need if they are
going to access file systems.
</p>

<!-- /content -->
12345678901234567890123456789012345678901234567890123456789012345678901234567890
<!-- name -->David Boddie<!-- /name -->
<!-- date -->4 February 2024<!-- /date -->
