<!-- title -->Music Player<!-- /title -->
<!-- template -->simple.html<!-- /template -->

<!-- summary -->
Making a simple music player.
<!-- /summary -->

<!-- content -->
<p>
Things slowed down a little with my Inferno explorations during the middle of
2024. I had hoped to get funding to do more with microcontrollers, but it was
quite a speculative application and I wasn't surprised when nothing came out of
it. During the summer, Pimoroni had a sale, and I picked up a
<a href="https://shop.pimoroni.com/products/pirate-audio-headphone-amp?variant=31189750480979">headphone
amplifier hat</a> for the Pi Zero 2W. Later in the year, I applied for a new
job and was scheduled to start in the autumn. I decided that I would like to
listen to music at work, just like I used to, so it was time to get the Pi to
perform this task.
</p>

<h2>Development</h2>

<p>
Since I had a <a href="2024-05-12.html">basic working port</a> of Inferno to
the Pi Zero 2W, building on the original Pi port and 9pi, I started to bring up
file servers for the screen and digital-to-analog converter (DAC) devices on
the Pirate Audio hat. The screen wasn't too difficult to use, being just
another one of those SPI-driven display driver chips coupled with an LCD screen.
It helped a lot that I could just use the existing GPIO and SPI file servers
that the Pi port provides. Similarly, the buttons and backlight are read and
controlled via the GPIO server.
</p>

<p>
The DAC required a bit more work to get working, requiring its own server,
though maybe I could have used existing code from elsewhere. To keep things
fairly simple and manageable, it only manages audio with a fixed frequency and
doesn't try to handle multiple streams.
</p>

<p>
At some point I started to take advantage of the <a href="2024-05-15.html">USB
networking support</a> to interact directly with code running on the Pi,
running <a href="https://inferno-os.org/inferno/man/8/svc.html">svc/rstyx</a>
to allow authenticated remote logins.
</p>

<h2>Music storage</h2>

<p>
Music is stored in a number of FAT partitions which are union mounted so that
the software sees all of the directories containing albums in a single place.
I encountered some issues with reading files if the partitions were too full.
</p>

<p>
It's not ideal that all the music is stored as uncompressed data. I'd like to
include decoders for MP3, Vorbis and FLAC, though I don't like the idea of
trying to compile the standard libraries and tools for these formats into
Inferno. There's a version of <a href="https://shithub.us/sigrid/mp3dec/HEAD/info.html">minimp3
for Plan 9</a> that might be a good starting point for MP3 files.
</p>

<h2>User interface</h2>

<p>
I decided upon a screen-based interface with different screens for different
modes. Initially, the user sees the album interface which lets them page
through each of the album titles, with one album per page. When they start
playing an album, the screen shows the current track. The volume can only be
controlled while audio is playing. Only having four buttons to control the
user interface is a bit limiting. A more flexible and comprehensive user
interface could be created, but it would be more complicated to implement and
use.
</p>

<p>
I used a thread to handle the backlight which sleeps for five seconds before
turning the backlight off if no buttons were pressed during that time.
Another thread monitors the buttons, normally sending press events to the main
thread via a channel unless the backlight is off. In that case, it turns the
backlight on and ignores the button press, resuming normal processing.
</p>

<p>
I'm reasonably happy with the result. It's minimal but satisfies my
requirements for now. I could imagine adding one or two more features, like
track skip and a progress bar, but they're nothing that I urgently need.
</p>

<div class="centre"><img class="light" src="images/2025-01-05-use.jpg"
alt="Playing music with Inferno."></a><br/>
<span class="caption">Playing music with Inferno</span></div>

<p>
The code for all this can be found in the excessively-named <tt>rpi-zero2w-9pi-pirate-audio-headphone-dac-lcd</tt>
branch of my <a href="https://gitlab.com/dboddie/inferno-os/-/tree/rpi-zero2w-9pi-pirate-audio-headphone-dac-lcd">Inferno clone on GitLab</a>.
</p>

<!-- /content -->
12345678901234567890123456789012345678901234567890123456789012345678901234567890
<!-- name -->David Boddie<!-- /name -->
<!-- date -->5 January 2025<!-- /date -->
