<!-- title -->An Inferno Diary<!-- /title -->
<!-- template -->index.html<!-- /template -->

<!-- content -->
<p>
This diary aims to keep track of things I have been doing with the
<a href="https://www.vitanuova.com/inferno/">Inferno operating system</a>.
</p>

<p>
Subscribe to updates via the <a href="updates.rss">RSS feed</a>.
</p>
<!-- /content -->

<!-- #entries --><!-- /#entries -->

<!-- name -->David Boddie<!-- /name -->
<!-- date -->14 December 2021<!-- /date -->
